{:paths ["src"
         "resources" ; extension data
         ]
 :deps
 {org.clojure/clojure    {:mvn/version "1.12.0"}
  io.github.clojure-quant/pivot {:local/root "../" :deps/manifest :deps}
  io.github.clojure-quant/quanta-calendar {:mvn/version "0.6.27"} ; calendar env
  
  ; frontend
  org.pinkgorilla/webly {:mvn/version "0.9.724"} ; build tool
  org.pinkgorilla/extension {:mvn/version "0.0.16"}
  org.pinkgorilla/ui-router {:mvn/version "0.2.43"}
  org.pinkgorilla/css-theme {:mvn/version "0.1.8"}
  org.pinkgorilla/ui-repl {:mvn/version "0.1.115"} ; tick-transit-encoding
  org.pinkgorilla/flowy {:mvn/version "0.1.43"}
  org.pinkgorilla/dali {:mvn/version "0.5.37"}
  org.pinkgorilla/dali-table {:mvn/version "0.3.99"}

  ; smile
  org.clojars.haifengl/smile {:mvn/version "4.2.0"}

  ; repl
  nrepl/nrepl {:mvn/version "1.3.1"}
  cider/cider-nrepl {:mvn/version "0.52.1"}
  }
 :aliases
 {; web compile
  :npm-install {:exec-fn webly.spa/webly-build
                :exec-args {:profile "npm-install"
                            :config ["config-shared.edn"
                                     "config-live.edn"]}}

  :compile {:exec-fn webly.spa/webly-build
            :exec-args {:profile "compile"
                        :config [{:extension {:disabled #{"ui-tailwind"
                                                          "missionary-sci"}}}
                                 "config-shared.edn"
                                 "config-live.edn"]}}

  :adv {:exec-args {:profile "release-adv"}}

  :backtest {:jvm-opts ["-Xmx2g"
                        "-Djdk.attach.allowAttachSelf=false"]
             :exec-fn modular.system/start!
             :exec-args {:profile "jetty"
                         :config ["config.edn"]
                         :services "services.edn"}}
;
  }}
